{
  "parser": "babel-eslint",
  "plugins": [
    "react-native", // for no-inline-styles rule
  ],
  "extends": [
    "standard",
    "standard-react",
    "plugin:react-hooks/recommended",
    // "@react-native-community",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard",
  ],
  "rules": {
    "react/jsx-handler-names": "off", // activated by standard-react config
    "react-native/no-inline-styles": "error",
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "printWidth": 140,
        "trailingComma": "all",
        "arrowParens": "avoid"
      }
    ]
  },
  "env":{
    "es6": true
  },
  "globals": { "fetch": false }
}
