<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>endPointKey</key>
		<string>USD</string>
		<key>symbol</key>
		<string>$</string>
		<key>locale</key>
		<string>en-US</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>ANG</string>
		<key>symbol</key>
		<string>ƒ</string>
		<key>locale</key>
		<string>en-SX</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>ARS</string>
		<key>symbol</key>
		<string>$</string>
		<key>locale</key>
		<string>es-AR</string>
		<key>source</key>
		<string>Yadio</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>AUD</string>
		<key>symbol</key>
		<string>$</string>
		<key>locale</key>
		<string>en-AU</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>AWG</string>
		<key>symbol</key>
		<string>ƒ</string>
		<key>locale</key>
		<string>nl-AW</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>BRL</string>
		<key>symbol</key>
		<string>R$</string>
		<key>locale</key>
		<string>pt-BR</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>CAD</string>
		<key>symbol</key>
		<string>$</string>
		<key>locale</key>
		<string>en-CA</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>CHF</string>
		<key>symbol</key>
		<string>CHF</string>
		<key>locale</key>
		<string>de-CH</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>CLP</string>
		<key>symbol</key>
		<string>$</string>
		<key>locale</key>
		<string>es-CL</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>COP</string>
		<key>symbol</key>
		<string>$</string>
		<key>locale</key>
		<string>es-CO</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>CZK</string>
		<key>symbol</key>
		<string>Kč</string>
		<key>locale</key>
		<string>cs-CZ</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>CNY</string>
		<key>symbol</key>
		<string>¥</string>
		<key>locale</key>
		<string>zh-CN</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>EUR</string>
		<key>symbol</key>
		<string>€</string>
		<key>locale</key>
		<string>en-IE</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>GBP</string>
		<key>symbol</key>
		<string>£</string>
		<key>locale</key>
		<string>en-GB</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>HRK</string>
		<key>symbol</key>
		<string>HRK</string>
		<key>locale</key>
		<string>hr-HR</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>HUF</string>
		<key>symbol</key>
		<string>Ft</string>
		<key>locale</key>
		<string>hu-HU</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>ILS</string>
		<key>symbol</key>
		<string>₪</string>
		<key>locale</key>
		<string>he-IL</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>INR</string>
		<key>symbol</key>
		<string>₹</string>
		<key>locale</key>
		<string>hi-HN</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>JPY</string>
		<key>symbol</key>
		<string>¥</string>
		<key>locale</key>
		<string>ja-JP</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>KES</string>
		<key>symbol</key>
		<string>Ksh</string>
		<key>locale</key>
		<string>en-KE</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>KRW</string>
		<key>symbol</key>
		<string>₩</string>
		<key>locale</key>
		<string>ko-KR</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
		<dict>
		<key>endPointKey</key>
		<string>LBP</string>
		<key>symbol</key>
		<string>ل.ل.‏</string>
		<key>locale</key>
		<string>ar-LB</string>
		<key>source</key>
		<string>BitcoinduLiban</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>MXN</string>
		<key>symbol</key>
		<string>$</string>
		<key>locale</key>
		<string>es-MX</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>MYR</string>
		<key>symbol</key>
		<string>RM</string>
		<key>locale</key>
		<string>ms-MY</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>NGN</string>
		<key>symbol</key>
		<string>₦</string>
		<key>locale</key>
		<string>en-NG</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>NOK</string>
		<key>symbol</key>
		<string>kr</string>
		<key>locale</key>
		<string>nb-NO</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>NZD</string>
		<key>symbol</key>
		<string>$</string>
		<key>locale</key>
		<string>en-NZ</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>PLN</string>
		<key>symbol</key>
		<string>zł</string>
		<key>locale</key>
		<string>pl-PL</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>PHP</string>
		<key>symbol</key>
		<string>₱</string>
		<key>locale</key>
		<string>en-PH</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>RUB</string>
		<key>symbol</key>
		<string>₽</string>
		<key>locale</key>
		<string>ru-RU</string>
		<key>source</key>
		<string>BitcoinduLiban</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>SGD</string>
		<key>symbol</key>
		<string>S$</string>
		<key>locale</key>
		<string>zh-SG</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>SEK</string>
		<key>symbol</key>
		<string>kr</string>
		<key>locale</key>
		<string>sv-SE</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>TRY</string>
		<key>symbol</key>
		<string>₺</string>
		<key>locale</key>
		<string>tr-TR</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>THB</string>
		<key>symbol</key>
		<string>฿</string>
		<key>locale</key>
		<string>th-TH</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>TWD</string>
		<key>symbol</key>
		<string>NT$</string>
		<key>locale</key>
		<string>zh-Hant-TW</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>TZS</string>
		<key>symbol</key>
		<string>TSh</string>
		<key>locale</key>
		<string>en-TZ</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>UAH</string>
		<key>symbol</key>
		<string>₴</string>
		<key>locale</key>
		<string>uk-UA</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
		<dict>
		<key>endPointKey</key>
		<string>UYU</string>
		<key>symbol</key>
		<string>$</string>
		<key>locale</key>
		<string>es-UY</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>VEF</string>
		<key>symbol</key>
		<string>Bs.</string>
		<key>locale</key>
		<string>es-VE</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>VES</string>
		<key>symbol</key>
		<string>Bs.</string>
		<key>locale</key>
		<string>es-VE</string>
		<key>source</key>
		<string>Yadio</string>
	</dict>
	<dict>
		<key>endPointKey</key>
		<string>ZAR</string>
		<key>symbol</key>
		<string>R</string>
		<key>locale</key>
		<string>en-ZA</string>
		<key>source</key>
		<string>CoinDesk</string>
	</dict>
</array>
</plist>
