<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlueWallet-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>BlueWallet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>BlueWalletWatch (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>BlueWalletWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>Stickers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>WidgetsExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>135</integer>
		</dict>
	</dict>
</dict>
</plist>
