<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>A7W54YZ4WU</string>
    <key>destination</key>
    <string>upload</string>
    <key>uploadSymbols</key>
    <true/>
    <key>uploadBitcode</key>
    <false/>
    <key>compileBitcode</key>
    <false/>
    <key>signingStyle</key>
    <string>manual</string>
    <key>signingCertificate</key>
    <string>Apple Distribution</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>io.bluewallet.bluewallet</key>
        <string>match AppStore io.bluewallet.bluewallet catalyst</string>
        <key>io.bluewallet.bluewallet.MarketWidget</key>
        <string>match AppStore io.bluewallet.bluewallet.MarketWidget catalyst</string>
    </dict>
    <key>thinning</key>
    <string>&lt;none&gt;</string>
</dict>
</plist>
